
@media screen and (prefers-reduced-motion: reduce), (update: slow) {
  * {
    -webkit-animation-duration: 0s;
    animation-duration: 0s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: var(--font-header);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-black-light);
  text-align: left;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  text-rendering: optimizeLegibility;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

body {
  @include z-index(body);
  font-size: 1rem;
  font-family: var(--font-header);
  overflow-x: hidden;
  font-size: inherit;
  line-height: inherit;
  background-color: var(--background-color);
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  text-rendering: optimizeLegibility;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main.layout__main-content {
  flex: 1;
}

#layout__main-content-wrapper {
  position: relative;
  z-index: 1;
}

b,
strong {
  font-weight: bold;
}
em,
i {
 font-style: italic;
}
a {
  color: inherit;
  cursor: pointer;
}

.overflow-hidden {
  overflow: hidden;
}

.padding--left-0 {
  padding-left: 0;
}
.padding--right-0 {
  padding-right: 0;
}

