<footer class="site-footer">
  <div class="site-footer__inner">
    {%- comment -%} Left: Logo + social + copyright {%- endcomment -%}
    <div class="site-footer__brand">
      <div class="site-footer__logo">
        {%- if section.settings.logo != blank -%}
          <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 1920 1080" style="&#10;"><defs><style>.cls-1{fill:#231f20;}.cls-2{fill:#fff;}</style></defs><path class="cls-2" d="M438.74,644.34l-3.8-5.49c-15.89-22.91-37.66-54.31-46.05-86.24-.5-.45-1-.91-1.46-1.36a172.84,172.84,0,0,1-35.7-48.73l16.14-7.92a155.54,155.54,0,0,0,17.69,28c1-15.83,6.87-31.17,20.14-45,16.18-16.86,40.1-24.33,62.43-19.5a59,59,0,0,1,38.65,27.7c14.34,24.69,11.62,57.78-6.46,78.69a53.75,53.75,0,0,1-38.85,18.91c-16.12.8-32.64-4.72-46.92-12.52,9.55,20.8,23.6,41.06,35.16,57.72l3.83,5.54ZM405.06,542.86c15.16,12.52,36.75,23.51,55.52,22.59a35.27,35.27,0,0,0,26.15-12.72c13.22-15.29,15.12-39.64,4.51-57.91a41,41,0,0,0-26.91-19.15c-16.28-3.52-33.78,2-45.66,14.37C404,505.36,401.26,523.76,405.06,542.86Z"/><path class="cls-2" d="M659.07,579.68V559h-.43c-9.72,14.68-26.78,23.54-46,23.54-35.42,0-63.5-26.78-63.5-62.2s28.94-61.77,63.5-61.77c19.65,0,36.5,8.86,46,23.76h.43V461.54h15.12V579.68Zm.86-59c0-26.35-20.73-48.59-47.51-48.59-27.21,0-48.16,20.73-48.16,48.81,0,27.21,20.52,47.94,48.38,47.94C639,568.88,659.93,547.28,659.93,520.72Z"/><path class="cls-2" d="M612.64,583.89c-36.4,0-64.9-27.94-64.9-63.6,0-35.42,28.5-63.17,64.9-63.17,18.7,0,34.9,7.7,45,21.28V460.14h17.92V581.08H657.67V562.72C647.39,576,630.83,583.89,612.64,583.89Zm0-124c-34.82,0-62.09,26.51-62.09,60.36,0,34.09,27.27,60.79,62.09,60.79,18.57,0,35.33-8.56,44.83-22.91l.41-.63h2.59v20.73h12.31V463H660.47v20.73h-2.6l-.42-.65C648.09,468.35,631.75,459.93,612.64,459.93Zm0,110.35c-28.38,0-49.78-21.21-49.78-49.34,0-28.63,21.3-50.22,49.56-50.22,27,0,48.92,22.43,48.92,50C661.34,548.05,639.49,570.28,612.64,570.28Zm-.22-96.75c-26.65,0-46.76,20.38-46.76,47.41,0,26.53,20.2,46.54,47,46.54,25.3,0,45.89-21,45.89-46.76C658.53,494.7,637.85,473.53,612.42,473.53Z"/><path class="cls-2" d="M711,626.11V461.54h15.11v20.74h.43c11-15.55,27.22-23.76,46-23.76C808.4,458.52,836,486,836,520.29c0,34.77-27.21,62.2-63.49,62.2-18.36,0-35.42-8.21-46-23.54h-.43v67.16Zm61.33-154c-25.48,0-47.08,21.59-47.08,48.59,0,26.35,20.52,48.16,47.3,48.16,28.07,0,48.37-21,48.37-47.94C820.92,493.72,801.05,472.13,772.33,472.13Z"/><path class="cls-2" d="M727.52,627.52H709.59V460.14h17.93v18.5c11.07-13.91,26.93-21.52,45-21.52,36.39,0,64.9,27.75,64.9,63.17,0,35.66-28.51,63.6-64.9,63.6-18.13,0-34.35-7.7-45-21.26Zm-15.12-2.81h12.31V557.54h2.57l.42.61c10.06,14.57,26.41,22.93,44.85,22.93,35.39,0,62.09-26.13,62.09-60.79,0-33.85-27.28-60.36-62.09-60.36-18.61,0-34.13,8-44.86,23.16l-.42.59h-2.56V463H712.4Zm60.15-54.43c-27.31,0-48.71-21.77-48.71-49.56,0-27.57,21.76-50,48.49-50,28.5,0,50,21.59,50,50.22C822.33,549.07,800.93,570.28,772.55,570.28Zm-.22-96.75c-25.19,0-45.68,21.17-45.68,47.19,0,26.22,20.16,46.76,45.9,46.76,26.77,0,47-20,47-46.54C819.52,493.47,799.67,473.53,772.33,473.53Z"/><path class="cls-2" d="M889,526.12c1.29,23.54,22.89,42.76,45.78,42.76,18.36,0,35.85-10.58,42.33-27.86h16a61.5,61.5,0,0,1-119.64-20.3c0-34.34,28.29-62.2,61.33-62.2,35.42,0,62,30.45,62,63.06,0,1.52-.22,3-.22,4.54Zm92.22-13.61c-4.32-23.75-23.11-40.38-46.44-40.38-22,0-41.68,16-45.78,40.38Z"/><path class="cls-2" d="M935,583.89a63.14,63.14,0,0,1-63-63.17c0-34.48,28.74-63.6,62.74-63.6,34.36,0,63.39,29.52,63.39,64.46,0,.79-.05,1.58-.11,2.37s-.11,1.45-.11,2.17v1.4H890.55c2,21.81,22,40,44.27,40,18.49,0,35-10.83,41-27l.34-.91h18.94l-.66,1.87C985.43,566.85,961.55,583.89,935,583.89Zm-.22-124c-32.48,0-59.93,27.84-59.93,60.79a60.09,60.09,0,0,0,116.22,21.71h-13c-6.72,16.7-24,27.85-43.29,27.85-24.26,0-45.87-20.19-47.18-44.08l-.09-1.49H995.23c0-.32,0-.64.07-1,.05-.72.1-1.44.1-2.17C995.4,488.16,967.66,459.93,934.82,459.93Zm48.12,54H887.38l.27-1.64c4.12-24.47,23.51-41.56,47.17-41.56s43.37,17.08,47.82,41.54Zm-92.22-2.81h88.83c-4.77-22.21-22.94-37.58-44.73-37.58S895.18,488.9,890.72,511.11Z"/><path class="cls-2" d="M1034.17,582.49V461.54h15.12v17.07h.43c5.18-12.31,14.25-19,33.26-20.09v16h-.22c-21.81,2.16-33.47,16.42-33.47,35.42v72.57Z"/><path class="cls-2" d="M1050.69,583.89h-17.92V460.14h17.92v13.33c6.06-10.47,16-15.43,32.21-16.35l1.48-.08v18.87h-1.62c-20,2-32.07,14.71-32.07,34Zm-15.12-2.81h12.31V509.92c0-20.25,12.88-34.23,33.69-36.7V460c-16.47,1.22-25.38,6.83-30.56,19.13l-.36.86h-2.77V463h-12.31Z"/><path class="cls-2" d="M1119.85,579.68V419.86H1135v62.42h.43a56,56,0,0,1,46-23.76c34.56,0,63.5,26.35,63.5,61.77,0,35.2-27.65,62.2-63.5,62.2-18.36,0-35.42-8.21-46-23.54H1135v20.73Zm61.34-107.55c-25.92,0-47.08,21.81-47.08,48.59,0,26.35,20.73,48.16,47.29,48.16,28.08,0,48.38-21,48.38-47.94C1229.78,493.08,1209.26,472.13,1181.19,472.13Z"/><path class="cls-2" d="M1181.4,583.89c-18.13,0-34.34-7.7-45-21.26v18.45h-17.92V418.46h17.92v60.18a57.63,57.63,0,0,1,45-21.52c36.39,0,64.9,27.75,64.9,63.17C1246.3,556,1217.79,583.89,1181.4,583.89Zm-47.84-26.35h2.58l.42.61c10.06,14.57,26.4,22.93,44.84,22.93,35.4,0,62.09-26.13,62.09-60.79,0-33.85-27.27-60.36-62.09-60.36a54.75,54.75,0,0,0-44.85,23.15l-.42.6h-2.57V421.27h-12.3v157h12.3Zm47.84,12.74c-26.85,0-48.7-22.23-48.7-49.56,0-27.57,21.75-50,48.49-50,28.5,0,50,21.59,50,50.22C1231.18,549.07,1209.78,570.28,1181.4,570.28Zm-.21-96.75c-25.19,0-45.68,21.17-45.68,47.19,0,25.78,20.59,46.76,45.89,46.76,26.78,0,47-20,47-46.54C1228.37,493.47,1208.53,473.53,1181.19,473.53Z"/><path class="cls-2" d="M1391.77,579.68V559h-.43c-9.72,14.68-26.78,23.54-46,23.54-35.42,0-63.5-26.78-63.5-62.2s28.94-61.77,63.5-61.77c19.65,0,36.49,8.86,46,23.76h.43V461.54h15.12V579.68Zm.86-59c0-26.35-20.73-48.59-47.51-48.59-27.21,0-48.16,20.73-48.16,48.81,0,27.21,20.52,47.94,48.38,47.94C1371.68,568.88,1392.63,547.28,1392.63,520.72Z"/><path class="cls-2" d="M1345.34,583.89c-36.39,0-64.9-27.94-64.9-63.6,0-35.42,28.51-63.17,64.9-63.17,18.7,0,34.9,7.7,45,21.28V460.14h17.92V581.08h-17.92V562.72C1380.09,576,1363.53,583.89,1345.34,583.89Zm0-124c-34.82,0-62.09,26.51-62.09,60.36,0,34.09,27.27,60.79,62.09,60.79,18.57,0,35.33-8.56,44.83-22.91l.41-.63h2.59v20.73h12.31V463h-12.31v20.73h-2.6l-.42-.65C1380.79,468.35,1364.45,459.93,1345.34,459.93Zm0,110.35c-28.38,0-49.78-21.21-49.78-49.34,0-28.63,21.3-50.22,49.56-50.22,27,0,48.92,22.43,48.92,50C1394,548.05,1372.19,570.28,1345.34,570.28Zm-.22-96.75c-26.65,0-46.76,20.38-46.76,47.41,0,26.53,20.2,46.54,47,46.54,25.3,0,45.89-21,45.89-46.76C1391.23,494.7,1370.55,473.53,1345.12,473.53Z"/><path class="cls-2" d="M1551.75,558.08h-.43c-8.43,15.55-26.57,24.41-45.57,24.41-33.69,0-61.77-26.78-61.77-61.34s27.86-62.63,61.77-62.63c19,0,35.85,8.86,45.57,24.19h.43V461.54h15.12V583.93c0,42.76-31.1,59-57.67,59-29.15,0-52.48-16-60.47-43.4h16c7.78,19.22,23.76,29.8,44.28,29.8,26.78,0,42.76-18.14,42.76-43.2Zm.86-37.36c0-25.7-20.3-48.59-47.08-48.59-25.48,0-46.43,22.24-46.43,48.59,0,25.7,20.3,48.16,46.65,48.16C1532.31,568.88,1552.61,546.2,1552.61,520.72Z"/><path class="cls-2" d="M1509.2,644.29c-30.15,0-53.83-17-61.82-44.42l-.52-1.8h18.8l.35.88c7.55,18.65,22.81,28.92,43,28.92,25.12,0,41.35-16.4,41.35-41.79v-23.7c-9.09,13.36-25.77,21.51-44.59,21.51-34.84,0-63.17-28.14-63.17-62.74,0-35.31,28.33-64,63.17-64,18.35,0,34.39,7.85,44.59,21.68V460.14h17.93V583.93C1568.27,625.62,1538.6,644.29,1509.2,644.29Zm-58.57-43.41c8.12,25.1,30.39,40.6,58.57,40.6,28,0,56.26-17.8,56.26-57.55V463h-12.31v21.16h-2.61l-.41-.65c-9.48-15-25.66-23.53-44.38-23.53-33.29,0-60.37,27.46-60.37,61.22,0,33.05,27.08,59.93,60.37,59.93,19.43,0,36.42-9.07,44.33-23.67l.4-.73h2.67v29.4c0,26.68-17.75,44.6-44.16,44.6-20.76,0-37.19-10.84-45.22-29.8Zm55.12-30.6c-26.5,0-48.06-22.23-48.06-49.56,0-27.1,21.91-50,47.84-50,26.73,0,48.49,22.43,48.49,50C1554,548.05,1532.36,570.28,1505.75,570.28Zm-.22-96.75c-24.41,0-45,21.61-45,47.19,0,25.78,20.3,46.76,45.25,46.76s45.46-21,45.46-46.76C1551.21,494.7,1530.72,473.53,1505.53,473.53Z"/><path class="cls-2" d="M910.28,657.89v3.39H884.09v-37h25.39v3.39H888V640.8h19.15v3.34H888v13.75Z"/><path class="cls-2" d="M924.2,630.17v3.28h8.57v3.17H924.3v24.66h-3.75V636.62h-5v-3.17h5V630c0-5,3-8.26,8.41-8.26a8.83,8.83,0,0,1,5.55,1.75l-1.27,2.8a6.37,6.37,0,0,0-4.12-1.37C925.89,624.93,924.2,626.73,924.2,630.17Z"/><path class="cls-2" d="M943.35,630.17v3.28h8.58v3.17h-8.47v24.66H939.7V636.62h-5v-3.17h5V630c0-5,3-8.26,8.42-8.26a8.85,8.85,0,0,1,5.55,1.75l-1.27,2.8a6.42,6.42,0,0,0-4.13-1.37C945.05,624.93,943.35,626.73,943.35,630.17Z"/><path class="cls-2" d="M954.94,647.36c0-8.25,6-14.12,14.18-14.12s14.13,5.87,14.13,14.12-6,14.18-14.13,14.18A13.73,13.73,0,0,1,954.94,647.36Zm24.5,0c0-6.51-4.39-10.84-10.32-10.84s-10.37,4.33-10.37,10.84,4.45,10.85,10.37,10.85S979.44,653.87,979.44,647.36Z"/><path class="cls-2" d="M1006.16,633.24v3.65c-.31,0-.63-.06-.9-.06-5.81,0-9.36,3.71-9.36,10.27v14.18h-3.76V633.45h3.6v5.45C997.49,635.19,1001,633.24,1006.16,633.24Z"/><path class="cls-2" d="M1030,659.58a8.9,8.9,0,0,1-5.87,2c-5.24,0-8.15-3-8.15-8.09V636.62h-5v-3.17h5v-6.09h3.76v6.09h8.46v3.17h-8.46v16.62c0,3.28,1.69,5.07,4.81,5.07a6.24,6.24,0,0,0,4.13-1.42Z"/><path class="cls-2" d="M1038.08,622h3.75v39.26h-3.75Z"/><path class="cls-2" d="M1077.76,648.53h-23.28c.42,5.82,4.87,9.68,11,9.68a11,11,0,0,0,8.52-3.65l2.12,2.43a13.71,13.71,0,0,1-10.74,4.55c-8.68,0-14.61-5.92-14.61-14.18s5.77-14.12,13.6-14.12,13.49,5.76,13.49,14.12C1077.81,647.68,1077.76,648.1,1077.76,648.53Zm-23.28-2.81h19.74a9.69,9.69,0,0,0-9.9-9.26C1058.93,636.46,1055,640.27,1054.48,645.72Z"/><path class="cls-2" d="M1082.85,658.1l1.69-3a16.78,16.78,0,0,0,9.89,3.12c5.29,0,7.46-1.8,7.46-4.55,0-7.25-18-1.53-18-12.54,0-4.55,3.92-7.93,11-7.93a18.85,18.85,0,0,1,9.84,2.59l-1.64,3a14.31,14.31,0,0,0-8.2-2.38c-5,0-7.25,2-7.25,4.61,0,7.51,18,1.85,18,12.54,0,4.81-4.23,7.93-11.48,7.93C1089.57,661.54,1085.12,660.06,1082.85,658.1Z"/><path class="cls-2" d="M1109.94,658.1l1.69-3a16.78,16.78,0,0,0,9.9,3.12c5.29,0,7.46-1.8,7.46-4.55,0-7.25-18-1.53-18-12.54,0-4.55,3.92-7.93,11-7.93a18.83,18.83,0,0,1,9.84,2.59l-1.64,3a14.27,14.27,0,0,0-8.2-2.38c-5,0-7.25,2-7.25,4.61,0,7.51,18,1.85,18,12.54,0,4.81-4.23,7.93-11.48,7.93C1116.66,661.54,1112.21,660.06,1109.94,658.1Z"/><path class="cls-2" d="M1138.46,658.63a2.8,2.8,0,0,1,2.81-2.86,2.84,2.84,0,0,1,2.85,2.86,2.89,2.89,0,0,1-2.85,2.91A2.85,2.85,0,0,1,1138.46,658.63Z"/><path class="cls-2" d="M1195.4,657.89v3.39h-26.19v-37h25.39v3.39h-21.48V640.8h19.15v3.34h-19.15v13.75Z"/><path class="cls-2" d="M1205,622h3.76v39.26H1205Z"/><path class="cls-2" d="M1244.72,648.53h-23.28c.42,5.82,4.86,9.68,11,9.68a11,11,0,0,0,8.52-3.65L1243,657a13.7,13.7,0,0,1-10.74,4.55c-8.67,0-14.6-5.92-14.6-14.18s5.77-14.12,13.6-14.12,13.49,5.76,13.49,14.12C1244.77,647.68,1244.72,648.1,1244.72,648.53Zm-23.28-2.81h19.73a9.67,9.67,0,0,0-9.89-9.26C1225.88,636.46,1221.91,640.27,1221.44,645.72Z"/><path class="cls-2" d="M1276.52,633.45l-12.38,27.83h-3.86L1248,633.45h3.91l10.43,23.7,10.53-23.7Z"/><path class="cls-2" d="M1303.19,644v17.25h-3.6v-4.34c-1.69,2.86-5,4.6-9.57,4.6-6.3,0-10.16-3.28-10.16-8.09,0-4.29,2.75-7.89,10.74-7.89h8.83v-1.69c0-4.76-2.69-7.35-7.88-7.35a14.19,14.19,0,0,0-9.26,3.28L1280.6,637a17.66,17.66,0,0,1,11.32-3.75C1299.12,633.24,1303.19,636.83,1303.19,644Zm-3.76,8.89v-4.55h-8.73c-5.39,0-7.14,2.11-7.14,5,0,3.23,2.59,5.24,7,5.24C1294.83,658.58,1298,656.57,1299.43,652.92Z"/><path class="cls-2" d="M1329.28,659.58a8.9,8.9,0,0,1-5.87,2c-5.24,0-8.15-3-8.15-8.09V636.62h-5v-3.17h5v-6.09H1319v6.09h8.46v3.17H1319v16.62c0,3.28,1.69,5.07,4.81,5.07a6.24,6.24,0,0,0,4.13-1.42Z"/><path class="cls-2" d="M1360.55,648.53h-23.28c.43,5.82,4.87,9.68,11,9.68a11,11,0,0,0,8.52-3.65l2.12,2.43a13.71,13.71,0,0,1-10.74,4.55c-8.68,0-14.6-5.92-14.6-14.18s5.76-14.12,13.59-14.12,13.5,5.76,13.5,14.12C1360.61,647.68,1360.55,648.1,1360.55,648.53Zm-23.28-2.81H1357a9.69,9.69,0,0,0-9.9-9.26C1341.72,636.46,1337.75,640.27,1337.27,645.72Z"/><path class="cls-2" d="M1394.9,622v39.26h-3.6v-5.51a12.06,12.06,0,0,1-10.74,5.77c-7.94,0-13.86-5.77-13.86-14.18s5.92-14.12,13.86-14.12a12.15,12.15,0,0,1,10.58,5.5V622Zm-3.71,25.34c0-6.51-4.44-10.84-10.31-10.84s-10.37,4.33-10.37,10.84,4.44,10.85,10.37,10.85S1391.19,653.87,1391.19,647.36Z"/><path class="cls-2" d="M1404.16,658.63a2.8,2.8,0,0,1,2.81-2.86,2.84,2.84,0,0,1,2.85,2.86,2.89,2.89,0,0,1-2.85,2.91A2.85,2.85,0,0,1,1404.16,658.63Z"/></svg>
          >
        {%- else -%}
          <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 1920 1080" style="&#10;"><defs><style>.cls-1{fill:#231f20;}.cls-2{fill:#fff;}</style></defs><path class="cls-2" d="M438.74,644.34l-3.8-5.49c-15.89-22.91-37.66-54.31-46.05-86.24-.5-.45-1-.91-1.46-1.36a172.84,172.84,0,0,1-35.7-48.73l16.14-7.92a155.54,155.54,0,0,0,17.69,28c1-15.83,6.87-31.17,20.14-45,16.18-16.86,40.1-24.33,62.43-19.5a59,59,0,0,1,38.65,27.7c14.34,24.69,11.62,57.78-6.46,78.69a53.75,53.75,0,0,1-38.85,18.91c-16.12.8-32.64-4.72-46.92-12.52,9.55,20.8,23.6,41.06,35.16,57.72l3.83,5.54ZM405.06,542.86c15.16,12.52,36.75,23.51,55.52,22.59a35.27,35.27,0,0,0,26.15-12.72c13.22-15.29,15.12-39.64,4.51-57.91a41,41,0,0,0-26.91-19.15c-16.28-3.52-33.78,2-45.66,14.37C404,505.36,401.26,523.76,405.06,542.86Z"/><path class="cls-2" d="M659.07,579.68V559h-.43c-9.72,14.68-26.78,23.54-46,23.54-35.42,0-63.5-26.78-63.5-62.2s28.94-61.77,63.5-61.77c19.65,0,36.5,8.86,46,23.76h.43V461.54h15.12V579.68Zm.86-59c0-26.35-20.73-48.59-47.51-48.59-27.21,0-48.16,20.73-48.16,48.81,0,27.21,20.52,47.94,48.38,47.94C639,568.88,659.93,547.28,659.93,520.72Z"/><path class="cls-2" d="M612.64,583.89c-36.4,0-64.9-27.94-64.9-63.6,0-35.42,28.5-63.17,64.9-63.17,18.7,0,34.9,7.7,45,21.28V460.14h17.92V581.08H657.67V562.72C647.39,576,630.83,583.89,612.64,583.89Zm0-124c-34.82,0-62.09,26.51-62.09,60.36,0,34.09,27.27,60.79,62.09,60.79,18.57,0,35.33-8.56,44.83-22.91l.41-.63h2.59v20.73h12.31V463H660.47v20.73h-2.6l-.42-.65C648.09,468.35,631.75,459.93,612.64,459.93Zm0,110.35c-28.38,0-49.78-21.21-49.78-49.34,0-28.63,21.3-50.22,49.56-50.22,27,0,48.92,22.43,48.92,50C661.34,548.05,639.49,570.28,612.64,570.28Zm-.22-96.75c-26.65,0-46.76,20.38-46.76,47.41,0,26.53,20.2,46.54,47,46.54,25.3,0,45.89-21,45.89-46.76C658.53,494.7,637.85,473.53,612.42,473.53Z"/><path class="cls-2" d="M711,626.11V461.54h15.11v20.74h.43c11-15.55,27.22-23.76,46-23.76C808.4,458.52,836,486,836,520.29c0,34.77-27.21,62.2-63.49,62.2-18.36,0-35.42-8.21-46-23.54h-.43v67.16Zm61.33-154c-25.48,0-47.08,21.59-47.08,48.59,0,26.35,20.52,48.16,47.3,48.16,28.07,0,48.37-21,48.37-47.94C820.92,493.72,801.05,472.13,772.33,472.13Z"/><path class="cls-2" d="M727.52,627.52H709.59V460.14h17.93v18.5c11.07-13.91,26.93-21.52,45-21.52,36.39,0,64.9,27.75,64.9,63.17,0,35.66-28.51,63.6-64.9,63.6-18.13,0-34.35-7.7-45-21.26Zm-15.12-2.81h12.31V557.54h2.57l.42.61c10.06,14.57,26.41,22.93,44.85,22.93,35.39,0,62.09-26.13,62.09-60.79,0-33.85-27.28-60.36-62.09-60.36-18.61,0-34.13,8-44.86,23.16l-.42.59h-2.56V463H712.4Zm60.15-54.43c-27.31,0-48.71-21.77-48.71-49.56,0-27.57,21.76-50,48.49-50,28.5,0,50,21.59,50,50.22C822.33,549.07,800.93,570.28,772.55,570.28Zm-.22-96.75c-25.19,0-45.68,21.17-45.68,47.19,0,26.22,20.16,46.76,45.9,46.76,26.77,0,47-20,47-46.54C819.52,493.47,799.67,473.53,772.33,473.53Z"/><path class="cls-2" d="M889,526.12c1.29,23.54,22.89,42.76,45.78,42.76,18.36,0,35.85-10.58,42.33-27.86h16a61.5,61.5,0,0,1-119.64-20.3c0-34.34,28.29-62.2,61.33-62.2,35.42,0,62,30.45,62,63.06,0,1.52-.22,3-.22,4.54Zm92.22-13.61c-4.32-23.75-23.11-40.38-46.44-40.38-22,0-41.68,16-45.78,40.38Z"/><path class="cls-2" d="M935,583.89a63.14,63.14,0,0,1-63-63.17c0-34.48,28.74-63.6,62.74-63.6,34.36,0,63.39,29.52,63.39,64.46,0,.79-.05,1.58-.11,2.37s-.11,1.45-.11,2.17v1.4H890.55c2,21.81,22,40,44.27,40,18.49,0,35-10.83,41-27l.34-.91h18.94l-.66,1.87C985.43,566.85,961.55,583.89,935,583.89Zm-.22-124c-32.48,0-59.93,27.84-59.93,60.79a60.09,60.09,0,0,0,116.22,21.71h-13c-6.72,16.7-24,27.85-43.29,27.85-24.26,0-45.87-20.19-47.18-44.08l-.09-1.49H995.23c0-.32,0-.64.07-1,.05-.72.1-1.44.1-2.17C995.4,488.16,967.66,459.93,934.82,459.93Zm48.12,54H887.38l.27-1.64c4.12-24.47,23.51-41.56,47.17-41.56s43.37,17.08,47.82,41.54Zm-92.22-2.81h88.83c-4.77-22.21-22.94-37.58-44.73-37.58S895.18,488.9,890.72,511.11Z"/><path class="cls-2" d="M1034.17,582.49V461.54h15.12v17.07h.43c5.18-12.31,14.25-19,33.26-20.09v16h-.22c-21.81,2.16-33.47,16.42-33.47,35.42v72.57Z"/><path class="cls-2" d="M1050.69,583.89h-17.92V460.14h17.92v13.33c6.06-10.47,16-15.43,32.21-16.35l1.48-.08v18.87h-1.62c-20,2-32.07,14.71-32.07,34Zm-15.12-2.81h12.31V509.92c0-20.25,12.88-34.23,33.69-36.7V460c-16.47,1.22-25.38,6.83-30.56,19.13l-.36.86h-2.77V463h-12.31Z"/><path class="cls-2" d="M1119.85,579.68V419.86H1135v62.42h.43a56,56,0,0,1,46-23.76c34.56,0,63.5,26.35,63.5,61.77,0,35.2-27.65,62.2-63.5,62.2-18.36,0-35.42-8.21-46-23.54H1135v20.73Zm61.34-107.55c-25.92,0-47.08,21.81-47.08,48.59,0,26.35,20.73,48.16,47.29,48.16,28.08,0,48.38-21,48.38-47.94C1229.78,493.08,1209.26,472.13,1181.19,472.13Z"/><path class="cls-2" d="M1181.4,583.89c-18.13,0-34.34-7.7-45-21.26v18.45h-17.92V418.46h17.92v60.18a57.63,57.63,0,0,1,45-21.52c36.39,0,64.9,27.75,64.9,63.17C1246.3,556,1217.79,583.89,1181.4,583.89Zm-47.84-26.35h2.58l.42.61c10.06,14.57,26.4,22.93,44.84,22.93,35.4,0,62.09-26.13,62.09-60.79,0-33.85-27.27-60.36-62.09-60.36a54.75,54.75,0,0,0-44.85,23.15l-.42.6h-2.57V421.27h-12.3v157h12.3Zm47.84,12.74c-26.85,0-48.7-22.23-48.7-49.56,0-27.57,21.75-50,48.49-50,28.5,0,50,21.59,50,50.22C1231.18,549.07,1209.78,570.28,1181.4,570.28Zm-.21-96.75c-25.19,0-45.68,21.17-45.68,47.19,0,25.78,20.59,46.76,45.89,46.76,26.78,0,47-20,47-46.54C1228.37,493.47,1208.53,473.53,1181.19,473.53Z"/><path class="cls-2" d="M1391.77,579.68V559h-.43c-9.72,14.68-26.78,23.54-46,23.54-35.42,0-63.5-26.78-63.5-62.2s28.94-61.77,63.5-61.77c19.65,0,36.49,8.86,46,23.76h.43V461.54h15.12V579.68Zm.86-59c0-26.35-20.73-48.59-47.51-48.59-27.21,0-48.16,20.73-48.16,48.81,0,27.21,20.52,47.94,48.38,47.94C1371.68,568.88,1392.63,547.28,1392.63,520.72Z"/><path class="cls-2" d="M1345.34,583.89c-36.39,0-64.9-27.94-64.9-63.6,0-35.42,28.51-63.17,64.9-63.17,18.7,0,34.9,7.7,45,21.28V460.14h17.92V581.08h-17.92V562.72C1380.09,576,1363.53,583.89,1345.34,583.89Zm0-124c-34.82,0-62.09,26.51-62.09,60.36,0,34.09,27.27,60.79,62.09,60.79,18.57,0,35.33-8.56,44.83-22.91l.41-.63h2.59v20.73h12.31V463h-12.31v20.73h-2.6l-.42-.65C1380.79,468.35,1364.45,459.93,1345.34,459.93Zm0,110.35c-28.38,0-49.78-21.21-49.78-49.34,0-28.63,21.3-50.22,49.56-50.22,27,0,48.92,22.43,48.92,50C1394,548.05,1372.19,570.28,1345.34,570.28Zm-.22-96.75c-26.65,0-46.76,20.38-46.76,47.41,0,26.53,20.2,46.54,47,46.54,25.3,0,45.89-21,45.89-46.76C1391.23,494.7,1370.55,473.53,1345.12,473.53Z"/><path class="cls-2" d="M1551.75,558.08h-.43c-8.43,15.55-26.57,24.41-45.57,24.41-33.69,0-61.77-26.78-61.77-61.34s27.86-62.63,61.77-62.63c19,0,35.85,8.86,45.57,24.19h.43V461.54h15.12V583.93c0,42.76-31.1,59-57.67,59-29.15,0-52.48-16-60.47-43.4h16c7.78,19.22,23.76,29.8,44.28,29.8,26.78,0,42.76-18.14,42.76-43.2Zm.86-37.36c0-25.7-20.3-48.59-47.08-48.59-25.48,0-46.43,22.24-46.43,48.59,0,25.7,20.3,48.16,46.65,48.16C1532.31,568.88,1552.61,546.2,1552.61,520.72Z"/><path class="cls-2" d="M1509.2,644.29c-30.15,0-53.83-17-61.82-44.42l-.52-1.8h18.8l.35.88c7.55,18.65,22.81,28.92,43,28.92,25.12,0,41.35-16.4,41.35-41.79v-23.7c-9.09,13.36-25.77,21.51-44.59,21.51-34.84,0-63.17-28.14-63.17-62.74,0-35.31,28.33-64,63.17-64,18.35,0,34.39,7.85,44.59,21.68V460.14h17.93V583.93C1568.27,625.62,1538.6,644.29,1509.2,644.29Zm-58.57-43.41c8.12,25.1,30.39,40.6,58.57,40.6,28,0,56.26-17.8,56.26-57.55V463h-12.31v21.16h-2.61l-.41-.65c-9.48-15-25.66-23.53-44.38-23.53-33.29,0-60.37,27.46-60.37,61.22,0,33.05,27.08,59.93,60.37,59.93,19.43,0,36.42-9.07,44.33-23.67l.4-.73h2.67v29.4c0,26.68-17.75,44.6-44.16,44.6-20.76,0-37.19-10.84-45.22-29.8Zm55.12-30.6c-26.5,0-48.06-22.23-48.06-49.56,0-27.1,21.91-50,47.84-50,26.73,0,48.49,22.43,48.49,50C1554,548.05,1532.36,570.28,1505.75,570.28Zm-.22-96.75c-24.41,0-45,21.61-45,47.19,0,25.78,20.3,46.76,45.25,46.76s45.46-21,45.46-46.76C1551.21,494.7,1530.72,473.53,1505.53,473.53Z"/><path class="cls-2" d="M910.28,657.89v3.39H884.09v-37h25.39v3.39H888V640.8h19.15v3.34H888v13.75Z"/><path class="cls-2" d="M924.2,630.17v3.28h8.57v3.17H924.3v24.66h-3.75V636.62h-5v-3.17h5V630c0-5,3-8.26,8.41-8.26a8.83,8.83,0,0,1,5.55,1.75l-1.27,2.8a6.37,6.37,0,0,0-4.12-1.37C925.89,624.93,924.2,626.73,924.2,630.17Z"/><path class="cls-2" d="M943.35,630.17v3.28h8.58v3.17h-8.47v24.66H939.7V636.62h-5v-3.17h5V630c0-5,3-8.26,8.42-8.26a8.85,8.85,0,0,1,5.55,1.75l-1.27,2.8a6.42,6.42,0,0,0-4.13-1.37C945.05,624.93,943.35,626.73,943.35,630.17Z"/><path class="cls-2" d="M954.94,647.36c0-8.25,6-14.12,14.18-14.12s14.13,5.87,14.13,14.12-6,14.18-14.13,14.18A13.73,13.73,0,0,1,954.94,647.36Zm24.5,0c0-6.51-4.39-10.84-10.32-10.84s-10.37,4.33-10.37,10.84,4.45,10.85,10.37,10.85S979.44,653.87,979.44,647.36Z"/><path class="cls-2" d="M1006.16,633.24v3.65c-.31,0-.63-.06-.9-.06-5.81,0-9.36,3.71-9.36,10.27v14.18h-3.76V633.45h3.6v5.45C997.49,635.19,1001,633.24,1006.16,633.24Z"/><path class="cls-2" d="M1030,659.58a8.9,8.9,0,0,1-5.87,2c-5.24,0-8.15-3-8.15-8.09V636.62h-5v-3.17h5v-6.09h3.76v6.09h8.46v3.17h-8.46v16.62c0,3.28,1.69,5.07,4.81,5.07a6.24,6.24,0,0,0,4.13-1.42Z"/><path class="cls-2" d="M1038.08,622h3.75v39.26h-3.75Z"/><path class="cls-2" d="M1077.76,648.53h-23.28c.42,5.82,4.87,9.68,11,9.68a11,11,0,0,0,8.52-3.65l2.12,2.43a13.71,13.71,0,0,1-10.74,4.55c-8.68,0-14.61-5.92-14.61-14.18s5.77-14.12,13.6-14.12,13.49,5.76,13.49,14.12C1077.81,647.68,1077.76,648.1,1077.76,648.53Zm-23.28-2.81h19.74a9.69,9.69,0,0,0-9.9-9.26C1058.93,636.46,1055,640.27,1054.48,645.72Z"/><path class="cls-2" d="M1082.85,658.1l1.69-3a16.78,16.78,0,0,0,9.89,3.12c5.29,0,7.46-1.8,7.46-4.55,0-7.25-18-1.53-18-12.54,0-4.55,3.92-7.93,11-7.93a18.85,18.85,0,0,1,9.84,2.59l-1.64,3a14.31,14.31,0,0,0-8.2-2.38c-5,0-7.25,2-7.25,4.61,0,7.51,18,1.85,18,12.54,0,4.81-4.23,7.93-11.48,7.93C1089.57,661.54,1085.12,660.06,1082.85,658.1Z"/><path class="cls-2" d="M1109.94,658.1l1.69-3a16.78,16.78,0,0,0,9.9,3.12c5.29,0,7.46-1.8,7.46-4.55,0-7.25-18-1.53-18-12.54,0-4.55,3.92-7.93,11-7.93a18.83,18.83,0,0,1,9.84,2.59l-1.64,3a14.27,14.27,0,0,0-8.2-2.38c-5,0-7.25,2-7.25,4.61,0,7.51,18,1.85,18,12.54,0,4.81-4.23,7.93-11.48,7.93C1116.66,661.54,1112.21,660.06,1109.94,658.1Z"/><path class="cls-2" d="M1138.46,658.63a2.8,2.8,0,0,1,2.81-2.86,2.84,2.84,0,0,1,2.85,2.86,2.89,2.89,0,0,1-2.85,2.91A2.85,2.85,0,0,1,1138.46,658.63Z"/><path class="cls-2" d="M1195.4,657.89v3.39h-26.19v-37h25.39v3.39h-21.48V640.8h19.15v3.34h-19.15v13.75Z"/><path class="cls-2" d="M1205,622h3.76v39.26H1205Z"/><path class="cls-2" d="M1244.72,648.53h-23.28c.42,5.82,4.86,9.68,11,9.68a11,11,0,0,0,8.52-3.65L1243,657a13.7,13.7,0,0,1-10.74,4.55c-8.67,0-14.6-5.92-14.6-14.18s5.77-14.12,13.6-14.12,13.49,5.76,13.49,14.12C1244.77,647.68,1244.72,648.1,1244.72,648.53Zm-23.28-2.81h19.73a9.67,9.67,0,0,0-9.89-9.26C1225.88,636.46,1221.91,640.27,1221.44,645.72Z"/><path class="cls-2" d="M1276.52,633.45l-12.38,27.83h-3.86L1248,633.45h3.91l10.43,23.7,10.53-23.7Z"/><path class="cls-2" d="M1303.19,644v17.25h-3.6v-4.34c-1.69,2.86-5,4.6-9.57,4.6-6.3,0-10.16-3.28-10.16-8.09,0-4.29,2.75-7.89,10.74-7.89h8.83v-1.69c0-4.76-2.69-7.35-7.88-7.35a14.19,14.19,0,0,0-9.26,3.28L1280.6,637a17.66,17.66,0,0,1,11.32-3.75C1299.12,633.24,1303.19,636.83,1303.19,644Zm-3.76,8.89v-4.55h-8.73c-5.39,0-7.14,2.11-7.14,5,0,3.23,2.59,5.24,7,5.24C1294.83,658.58,1298,656.57,1299.43,652.92Z"/><path class="cls-2" d="M1329.28,659.58a8.9,8.9,0,0,1-5.87,2c-5.24,0-8.15-3-8.15-8.09V636.62h-5v-3.17h5v-6.09H1319v6.09h8.46v3.17H1319v16.62c0,3.28,1.69,5.07,4.81,5.07a6.24,6.24,0,0,0,4.13-1.42Z"/><path class="cls-2" d="M1360.55,648.53h-23.28c.43,5.82,4.87,9.68,11,9.68a11,11,0,0,0,8.52-3.65l2.12,2.43a13.71,13.71,0,0,1-10.74,4.55c-8.68,0-14.6-5.92-14.6-14.18s5.76-14.12,13.59-14.12,13.5,5.76,13.5,14.12C1360.61,647.68,1360.55,648.1,1360.55,648.53Zm-23.28-2.81H1357a9.69,9.69,0,0,0-9.9-9.26C1341.72,636.46,1337.75,640.27,1337.27,645.72Z"/><path class="cls-2" d="M1394.9,622v39.26h-3.6v-5.51a12.06,12.06,0,0,1-10.74,5.77c-7.94,0-13.86-5.77-13.86-14.18s5.92-14.12,13.86-14.12a12.15,12.15,0,0,1,10.58,5.5V622Zm-3.71,25.34c0-6.51-4.44-10.84-10.31-10.84s-10.37,4.33-10.37,10.84,4.44,10.85,10.37,10.85S1391.19,653.87,1391.19,647.36Z"/><path class="cls-2" d="M1404.16,658.63a2.8,2.8,0,0,1,2.81-2.86,2.84,2.84,0,0,1,2.85,2.86,2.89,2.89,0,0,1-2.85,2.91A2.85,2.85,0,0,1,1404.16,658.63Z"/></svg>
        {%- endif -%}
        {%- if section.settings.tagline != blank -%}
          <p class="site-footer__tagline">{{ section.settings.tagline }}</p>
        {%- endif -%}
      </div>

      <div class="site-footer__social">
        {%- render 'social-icons' -%}
      </div>

    </div>

    {%- comment -%} Right: Link columns {%- endcomment -%}
    <div class="site-footer__nav">
      <div class="site-footer__column">
        <h4 class="site-footer__heading">Paperbag</h4>
        <ul class="site-footer__links">
          <li><a href="/collections/all">Shop</a></li>
          <li><a href="/collections">Collections</a></li>
          <li><a href="/pages/about">About</a></li>
        </ul>
      </div>
      <div class="site-footer__column">
        <h4 class="site-footer__heading">Help & Support</h4>
        <ul class="site-footer__links">
          <li><a href="/policies/shipping-policy">Orders & Shipping</a></li>
          <li><a href="/policies/refund-policy">Returns & Refunds</a></li>
          <li><a href="/policies/privacy-policy">Privacy Policy</a></li>
          <li><a href="/policies/terms-of-service">Terms & Conditions</a></li>
          <li><a href="/pages/contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<div class="popular-searches">
  <div class="container">
    <h4 class="popular-searches__heading">Popular Searches</h4>
    <p class="popular-searches__links">
      <a href="/collections/tops">Tops</a>
      <a href="/collections/bottoms">Bottoms</a>
      <a href="/collections/co-ords">Co-ords</a>
      <a href="/collections/dress">Dress</a>
      <a href="/search?q=wrap+top">Wrap Top</a>
      <a href="/search?q=shirts">Shirts</a>
      <a href="/search?q=skirts">Skirts</a>
      <a href="/search?q=trousers">Trousers</a>
      <a href="/search?q=palazzo">Palazzo</a>
      <a href="/search?q=casual+wear">Casual Wear</a>
      <a href="/search?q=office+wear">Office Wear</a>
      <a href="/search?q=cotton">Cotton</a>
      <a href="/search?q=linen">Linen</a>
      <a href="/search?q=handmade">Handmade</a>
      <a href="/search?q=summer+collection">Summer Collection</a>
      <a href="/search?q=new+arrivals">New Arrivals</a>
      <a href="/search?q=best+sellers">Best Sellers</a>
    </p>
  </div>
</div>

<div class="site-copyright">
  <p>&copy; {{ 'now' | date: '%Y' }} {{ shop.name }}. All Rights Reserved.</p>
</div>

{% stylesheet %}
  /* ── Popular Searches ── */
  .popular-searches {
    padding: 32px 0;
    background-color: #8FA1B7;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }

  .popular-searches__heading {
    font-family: 'Outfit', sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 0 0 16px;
    padding-bottom: 8px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
    display: inline-block;
  }

  .popular-searches__links {
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.85);
    line-height: 2;
    margin: 0;
  }

  .popular-searches__links a {
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
  }

  .popular-searches__links a:hover {
    color: #fff;
  }

  .popular-searches__links a + a::before {
    content: '  |  ';
    color: rgba(255, 255, 255, 0.4);
  }

  .site-copyright {
    background-color: #8FA1B7;
    text-align: center;
    padding: 16px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }

  .site-copyright p {
    font-family: 'Outfit', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    margin: 0;
  }
  .site-footer {
    background-color: #8FA1B7;
    color: #fff;
    padding: 64px 0 32px;
  }

  .site-footer a {
    color: #fff;
    text-decoration: none;
    transition: opacity 0.2s ease;
  }

  .site-footer a:hover {
    opacity: 0.75;
  }

  .site-footer__inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 64px;
  }

  /* ── Brand column (left) ── */
  .site-footer__brand {
    display: flex;
    flex-direction: column;
    gap: 0;
    min-width: 300px;
  }

  .site-footer__logo {
    margin-bottom: 48px;
  }

  .site-footer__logo-img {
    width: auto;
    height: 40px;
    display: block;
  }

  .site-footer__logo-text {
    font-family: 'Outfit', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    letter-spacing: -0.02em;
  }

  .site-footer__tagline {
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #FAF8F3;
    margin: 8px 0 0;
    opacity: 0.85;
  }

  .site-footer__social {
    margin-bottom: 24px;
  }

  .site-footer__social .social-icons {
    gap: 16px;
  }

  .site-footer__social .social-icons__link {
    opacity: 1;
    color: #fff;
  }

  .site-footer__copyright {
    font-family: 'Outfit', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #FAF8F3;
    line-height: 1.8;
    margin: 0;
    text-transform: capitalize;
  }

  /* ── Nav columns (right) ── */
  .site-footer__nav {
    display: flex;
    gap: 24px;
    flex-shrink: 0;
  }

  .site-footer__column {
    min-width: 184px;
  }

  .site-footer__heading {
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
    margin: 0 0 24px;
    line-height: 1.4;
  }

  .site-footer__links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .site-footer__links a {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
    text-transform: capitalize;
    white-space: nowrap;
  }

  /* ── Tablet ── */
  @media screen and (min-width: 750px) and (max-width: 989px) {
    .site-footer__inner {
      flex-direction: column;
      gap: 40px;
    }

    .site-footer__nav {
      width: 100%;
      justify-content: flex-start;
    }

    .site-footer__brand {
      min-width: auto;
    }
  }

  /* ── Mobile ── */
  @media screen and (max-width: 749px) {
    .site-footer {
      padding: 40px 0 24px;
    }

    .site-footer__inner {
      flex-direction: column;
      gap: 32px;
      padding: 0 20px;
    }

    .site-footer__brand {
      min-width: auto;
    }

    .site-footer__logo {
      margin-bottom: 32px;
    }

    .site-footer__logo-img {
      height: 32px;
    }

    .site-footer__logo-text {
      font-size: 32px;
    }

    .site-footer__nav {
      flex-direction: column;
      gap: 32px;
      width: 100%;
    }

    .site-footer__column {
      min-width: auto;
    }

    .site-footer__heading {
      font-size: 18px;
      margin-bottom: 16px;
    }

    .site-footer__links a {
      font-size: 16px;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Footer logo"
    },
    {
      "type": "text",
      "id": "tagline",
      "default": "Effortless. Elevated.",
      "label": "Tagline"
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": "Menu column",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading override"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "default": "footer"
        }
      ]
    }
  ],
  "max_blocks": 4,
  "presets": [
    {
      "name": "Footer",
      "blocks": [
        {
          "type": "menu",
          "settings": {
            "heading": "Paperbag",
            "menu": "footer"
          }
        },
        {
          "type": "menu",
          "settings": {
            "heading": "Help & Support",
            "menu": "footer"
          }
        }
      ]
    }
  ]
}
{% endschema %}
