<div class="auth-page">
  <div class="container">
    <div class="auth-page__card">
      <h1 class="auth-page__title">{{ 'customer.reset_password.title' | t }}</h1>

      {% form 'reset_customer_password' %}
        <div class="auth-page__field">
          <label for="ResetPassword" class="auth-page__label">{{ 'customer.login.password' | t }}</label>
          <input type="password" id="ResetPassword" name="customer[password]" required class="auth-page__input">
        </div>
        <div class="auth-page__field">
          <label for="ResetPasswordConfirm" class="auth-page__label">{{ 'customer.reset_password.confirm' | t | default: 'Confirm password' }}</label>
          <input type="password" id="ResetPasswordConfirm" name="customer[password_confirmation]" required class="auth-page__input">
        </div>
        <button type="submit" class="auth-page__btn">{{ 'customer.reset_password.submit' | t }}</button>
      {% endform %}
    </div>
  </div>
</div>

{% schema %}
{ "name": "Customer reset password", "settings": [] }
{% endschema %}
