<div class="customer section-padding">
  <div class="container" style="max-width: 500px;">
    <h1 class="h1 text-center">{{ 'customer.reset_password.title' | t }}</h1>

    {% form 'reset_customer_password' %}
      <div class="form__group">
        <label for="ResetPassword" class="form__label">{{ 'customer.login.password' | t }}</label>
        <input type="password" id="ResetPassword" name="customer[password]" required class="form__input">
      </div>
      <div class="form__group">
        <label for="ResetPasswordConfirm" class="form__label">Confirm password</label>
        <input type="password" id="ResetPasswordConfirm" name="customer[password_confirmation]" required class="form__input">
      </div>
      <button type="submit" class="btn btn--primary btn--full">{{ 'customer.reset_password.submit' | t }}</button>
    {% endform %}
  </div>
</div>

{% schema %}
{ "name": "Customer reset password", "settings": [] }
{% endschema %}
